#registerForm {
    margin: 25px auto;
    max-width: 400px;
    background-color: lightgray;
    padding: 15px;
}

label {
    font-size: large;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

#fname,
#month,
#day {
    margin-right: 10px;
}

input {
    margin-top: 3px;
}

input,
#month,
#gender {
    height: 25px;
    width: 100%;
}

#birthDiv,
#nameDiv {
    display: flex;
    align-items: center;
}

#month {
    height: 30px;
    margin-top: 2px;
}

#registerForm #email::placeholder {
    text-align: right;
}

#submitBtn {
    margin-top: 10px;
}

#submit {
    background-color: #04aa6d;
    color: white;
    font-size: x-large;
    height: 50px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#submit:hover {
    opacity: 0.8;
}

.invalidInput {
    background-color: red;
}

.emptyInput {
    background-color: white;
}

.instructions {
    color: #808080;
}
